.auth-container {
  width: 350px;
  margin: 70px auto;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form input {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.auth-form button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #4a4ae9;
  color: white;
}
